@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Dark mode looking scrollbar using modern properties */
@supports (scrollbar-width: thin) {
  * {
    /* Use thin scrollbar width */
    scrollbar-width: thin;
    /* Thumb color and track color */
    scrollbar-color: #121212 #555;
  }
}

/* Fallback for older browsers using ::-webkit-scrollbar pseudo-elements */
@supports not (scrollbar-width: thin) {
  /* Custom scrollbar for WebKit browsers */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #555;
  }

  ::-webkit-scrollbar-thumb {
    background: #121212;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #242424;
  }
}
